@using FirstWebProject.Models
@model List<WebTest>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/Assets/base.css">
    <link rel="stylesheet" href="~/Assets/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="container">
            <form action="/Home/Index" method="Post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="text-dark" for="exampleInputEmail1">About me</label>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title..">
                </div>

                <button type="submit" class="btn btn-primary mt-3" style="background-color: #252525;">Save</button>
                <table class="table table-dark my-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th scope="col">Content</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>


                    
                    <thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.content</td>
                                <td>
                                     <a href="/Home/Delete/@item.id">Delete</a>
                                </td>
                                <td>
                                     <a href="/Home/Update/@item.id">Update</a>
                                </td>
                            </tr>
                        }
                        </thead>
                    </table>
            </form>
        </div>
    </div>

</body>

</html>