@*@model FirstWebProject.Models.WebAppTestEntities*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <h1>    sikdir</h1>
    @*@using (Html.BeginForm("Guncelle", "Home", FormMethod.Post))
    {
        <div>

            <form action="/index" method="post">
                @Html.LabelFor(m=>m)
                <input type="submit" value="Gonder" />
            </form>
        </div>
    }*@
</body>
</html>
