@model FirstWebProject.Models.WebTest

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Home/_Layoutum.cshtml";
}

<form action="/home/update?id=@Model.id" method="post">
    <input type="text" name="content" value="@Model.content" />
    <input type="submit"  value="adamkisi olar" />
</form>
            }
