<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Green Garden</title>
    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css//bootstrap.min.css">
    <link rel="stylesheet" href="~/css/classy-nav.css">
    <link rel="stylesheet" href="~/css/elegant-icon.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/style.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="~/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="green@gardens.az"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: green@gardens.az</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+994502299294"><i class="fa fa-phone" aria-hidden="true"></i> <span>Bizə zəng et: +994502299294</span></a>
                            </div>
                            <div class="top-header-meta d-flex">
                            <div class="social-info">
                                <a href="https://greengarden.postershop.me/"><i class="fa-solid fa-bag-shopping"></i></a>
                                <a href="https://www.instagram.com/greengarden_baku/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/green-garden-baku/mycompany/?viewAsMember=true"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://vt.tiktok.com/ZSd4UAn1f/" <i class="fab fa-tiktok" style="color:#70c745"></i></a>
                                <a href="https://www.facebook.com/greengardenbaku"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="#index" class="nav-brand"><img src="~/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#index">Ana səhifə</a></li>
                                    <li><a href="#about">Haqqımızda</a></li>

                                    <li><a href="#portfolio">Portfolio</a>

                                    </li>
                                    <li><a href="#map">Ünvan</a>

                                    </li>
                                    <li><a href="#contact">Bizimlə əlaqə</a></li>
                                </ul>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area" item id="index">
        <div class="hero-post-slides owl-carousel">

            <!-- Single Hero Post -->
            <div class="single-hero-post bg-overlay">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/bg-img/1.jpg);"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <!-- Post Content -->
                            <div class="hero-slides-content text-center">
                                <h2>Green Garden</h2>
                                <p>Gözəlliyinizi bizimlə tamamlayın</p>
                                <div class="welcome-btn-group">
                                    <a href="https://greengarden.postershop.me/" class="btn alazea-btn mr-30">Alış veriş et!</a>
                                    <a href="https://www.instagram.com/greengarden_baku/" class="btn alazea-btn active">İnstagram səhifəmizlə tanış ol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post bg-overlay">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/bg-img/2.jpg);"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <!-- Post Content -->
                            <div class="hero-slides-content text-center">
                                <h2>Green Garden</h2>
                                <p>Gözəlliyinizi bizimlə tamamlayın</p>
                                <div class="welcome-btn-group">
                                    <a href="https://greengarden.postershop.me/" class="btn alazea-btn mr-30">Alış veriş et!</a>
                                    <a href="https://www.instagram.com/greengarden_baku/" class="btn alazea-btn active">İnstagram səhifəmizlə tanış ol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="our-services-area bg-gray section-padding-100-0" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Xidmət və servislərimiz</h2>
                        <p>Biz sizə yüksək keyfiyyətdə xidmət vəd edirik.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="~/img/core-img/s1.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Bitki yetişdirilməsi</h5>
                                <p>Dünyanın müxtəlif yerlərindən gətirdiyimiz toxumlar ilə istənilən bitkinin istehsalına və dünyanın müxtəlif ölkələrinə ixracatı fəaliyyəti göstəririk.</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="~/img/core-img/s2.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Suvarma sistemlərinin qurulması</h5>
                                <p>Bağ və bostanlarınızda suvarma sistemlərinin çəkilməsi</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="~/img/core-img/s3.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Dibçək və bağ alətləri</h5>
                                <p>Polşa, Ukrayna və Avropa birliyi ölkələrinin istehsalı olan dibcək və bağ alətlərinin satışı</p>
                            </div>
                        </div>
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="~/img/core-img/b3.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Peyzaj memarlığı</h5>
                                <p>Yüksək təcrübəyə malik landşaft dizayner kollektivimiz ilə bağ və park dizaynlarının tərtibatı.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="~/img/core-img/youtube.jpeg" alt="">
                        <a href="https://www.youtube.com/watch?v=1KnOrvXt1GU&t" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-us-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Haqqımızda</h2>
                        <p>Şirkətimiz haqqında qısa məlumat.</p>
                    </div>
                    <p>Şirkətimiz 2018-ci ildə BMS Green Garden MMC olaraq fəaliyyətə başlamışdır. Biz müştərilərimizə dekorativ bitki və güllərin satışı, peyzaj xidmətləri, suvarma sistemlərinin çəkilməsi, torf və organik gübrə istehsalı fəaliyyəti göstəririk.</p>

                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="~/img/core-img/b1.png" alt="">
                                    <h5>Memarlıq və peyzaj xidmətləri</h5>
                                    <p>Yüksək təcrübəyə malik landşaft dizayner kollektivimizə bağınızın dizaynını əmanət edə bilərsiniz.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="~/img/core-img/b2.png" alt="">
                                    <h5>Yüksək keyfiyyətli xidmət</h5>
                                    <p>Çevrə dostu bağban kollektivimiz ilə sizə bağ və bostanlarınızda budama və bərpa servisi xidməti təklif edirik.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="~/img/core-img/b3.png" alt="">
                                    <h5>100% Təbii kompost</h5>
                                    <p>Müxtəlif meyvə və bitki atıqlarından əldə etdiyimiz 100% təbii və orqanik gübrə istehsalında qabaqcıl sıralarda yer alırıq.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="~/img/core-img/b4.png" alt="">
                                    <h5>Bitki ixracatı</h5>
                                    <p>Dünyanın istənilən ölkəsinə bitki ixracatı fəaliyyəti göstərməkdəyik.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Portfolio Area Start ##### -->
    <section class="alazea-portfolio-area section-padding-100-0" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Gördüyümüz işlər</h2>
                        <p>Müştərilərimizə təqdim etdiyimiz layihələrdən bəziləri</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alazea-portfolio">

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design home-design wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/160.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/160.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 1">
                        <div class="port-hover-text">
                            <h3>Bakı şəhəri</h3>
                            <h5>Park</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/170.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/170.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                        <div class="port-hover-text">
                            <h3>Bakı şəhəri</h3>
                            <h5>Park</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/180.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/180.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 3">
                        <div class="port-hover-text">
                            <h3>Şüvəlan qəsəbəsi</h3>
                            <h5>Şəxsi bağ</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden office-design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/190.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/190.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">
                            <h3>Qəbələ şəhəri</h3>
                            <h5>Park</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design office-design wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/200.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/200.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 5">
                        <div class="port-hover-text">
                            <h3>Zirə qəsəbəsi</h3>
                            <h5>Şəxsi bağ</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/210.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/210.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">
                            <h3>Böyükşor qəsəbəsi</h3>
                            <h5>Park</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-lg-6 single_portfolio_item home-design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/220.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/img/bg-img/220.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 7">
                        <div class="port-hover-text">
                            <h3>Şüvəlan qəsəbəsi</h3>
                            <h5>Şəxsi bağ</h5>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### Portfolio Area End ##### -->




    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100-0" id="map">

        <div class="col-12 col-lg-12">
            <!-- Google Maps -->
            <div class="map-area mb-100" id="contact">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3861.491298842332!2d50.093241!3d40.46552!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c6a4739a0366000!2sGreen%20Garden!5e1!3m2!1str!2sus!4v1653424081989!5m2!1str!2sus" width="600" height="450"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
            </div>
        </div>
        </div>
        </div>
        <!-- ##### Contact Area Info Start ##### -->
        <div class="contact-area-info section-padding-0-100">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <!-- Contact Thumbnail -->
                    <div class="col-12 col-md-6">
                        <div class="contact--thumbnail">
                            <img src="~/img/bg-img/25.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-12 col-md-5">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <h2>Bizimlə əlaqə</h2>
                            <p>İstədiyiniz hər bir sual ilə bağlı şirkətimizlə əlaqə saxlaya bilərsiniz.</p>
                        </div>
                        <!-- Contact Information -->
                        <div class="contact-information">
                            <p><span>Ünvan:</span> Mərdəkan şossesi, Bakı şəhəri</p>
                            <p><span>Əlaqə:</span> +994 50 229 92 94 </p>
                            <p><span>Email:</span> green@gardens.az</p>
                            <p><span>Açıq saatlar:</span> B.er - Bazar: 08:00-18:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Contact Area Info End ##### -->
    </section>
    <!-- ##### Contact Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#index"><img src="~/img/core-img/logo.png" alt=""></a>
                            </div>
                            <p>Gözəlliyinizi bizimlə yaradın!</p>
                            <div class="social-info">
                                <a href="https://www.facebook.com/greengardenbaku"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://eugardens.eu/green_company/bms-green-garden/">EU</a>
                                <a href="https://vt.tiktok.com/ZSd4UAn1f/" <i class="fab fa-tiktok"></i></a>
                                <a href="https://www.instagram.com/greengarden_baku/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/green-garden-baku/mycompany/?viewAsMember=true"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>&copy;
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://rahmanashraf.herokuapp.com" target="_blank">Rahman Ashraf</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#index">Ana səhifə</a></li>
                                    <li><a href="#about">Haqqımızda</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#map">Ünvan</a></li>
                                    <li><a href="#contact">Bizimlə əlaqə</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
</body>

</html>