body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #252525;
    background-image: linear-gradient(45deg, #269143 50%, #252525 35%, #269143 42%);
}

.container {
    background-color: #269143;
    width: 100%;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0px;
}

.nav-bar i {
    border-radius: 50%;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    background: #111;
    cursor: pointer;
    margin: 0px;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    display: grid;
    text-align: center;
}

li span {
    color: black;
    font-weight: 600;
    font-style: normal;
}